<a href="https://colab.research.google.com/github/vishu0047/Advancepython/blob/master/AdvancedCollections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basic Collections:->**

list -> Mutable sequence of values

tuple -> Fixed sequence of values

set -> Sequence of distinct values

dictionary -> Collection of key-value pairs

**Advanced collections :**

namedtuple -> tuple with named fields

OrderedDict, defaultdict -> Dictionaries with special properties

Counter -> Counts distinct values

deque -> Double-eded list object

In [0]:
#namedTuple

import collections

#TODO : create a point namedtuple
Point = collections.namedtuple("Point","x y")
p1 = Point(10,20)
p2 = Point(30,40)
print(p1,p2)
#descriptive name in order to acess value
print(p1.x,p2.y)
# TODO : use _replace to create a new instance
p1 = p1._replace(x=100)
print(p1)

Point(x=10, y=20) Point(x=30, y=40)
10 40
Point(x=100, y=20)

In [0]:
#defaultdict
from collections import defaultdict
#define a list of item we want to count
fruits = ['apple','pear','orange','banana','apple','grape','banana','banana']

# use a dictionary to count fruit
fruitCounter ={}

for fruit in fruits:
  if fruit in fruitCounter.keys():
    fruitCounter[fruit]+=1
  else:
    fruitCounter[fruit] = 1

print(fruitCounter)

#TODO : using default dict
fruitCounter = defaultdict(int)
fruitCounter = defaultdict(lambda:100)

for fruit in fruits:
  fruitCounter[fruit]+=1

print(fruitCounter)

{'apple': 2, 'pear': 1, 'orange': 1, 'banana': 3, 'grape': 1}
defaultdict(<function <lambda> at 0x7f6047f70a60>, {'apple': 102, 'pear': 101, 'orange': 101, 'banana': 103, 'grape': 101})

In [0]:
# Counters - counting hashables
from collections import Counter

class1 = ["vish","jerry","vish","maddy","jerry","vish"]
class2 =["bill","barry","cindy","kelly","vish"]
# create A Counter for class1 and class2
c1 = Counter(class1)
c2 = Counter(class2)

# counts the element n class1 and find the total count
print(c1["vish"])
print("total in class 1 is",sum(c1.values()))

# Counter can combine together
c1.update(class2)
print("total in class 1 is",sum(c1.values()))

# most common function
print(c1.most_common(3))

# separate the classes again
c1.subtract(class2)
print(c1.most_common(3))

# and to find out the intersection of two counter
print(c1&c2)

3
total in class 1 is 6
total in class 1 is 11
[('vish', 4), ('jerry', 2), ('maddy', 1)]
[('vish', 3), ('jerry', 2), ('maddy', 1)]
Counter({'vish': 1})

In [4]:
# OrderDict -- remember the order in which item is inserting, regular dict doesn't keep the order among the items.
# list of sport teams with wins and losses
sportTeams = [("Royals",(18,12)),("Rockets",(24,6)),("Cardinals",(20,10)),("Dragons",(22,8)),("Kings",(15,15)),("Chargers",(20,10)),("Jets",(16,14)),("Warriors",(25,5))]
print(sportTeams[1][0])
test = 
# sort the teams by number of wins
sortedTeams = sorted(sportTeams,key = lambda t:t[1][0], reverse = True)
print(sortedTeams)

Rockets
[('Warriors', (25, 5)), ('Rockets', (24, 6)), ('Dragons', (22, 8)), ('Cardinals', (20, 10)), ('Chargers', (20, 10)), ('Royals', (18, 12)), ('Jets', (16, 14)), ('Kings', (15, 15))]

In [0]:
# OrderDict -- remember the order in which item is inserting, regular dict doesn't keep the order among the items.
# list of sport teams with wins and losses
sportTeams = [("Royals",(18,12)),("Rockets",(24,6)),("Cardinals",(20,10)),("Dragons",(22,8)),("Kings",(15,15)),("Chargers",(20,10)),("Jets",(16,14)),("Warriors",(25,5))]
print(sportTeams[1][0])
test = 
# sort the teams by number of wins
sortedTeams = sorted(sportTeams,key = lambda t:t[1][0], reverse = True)
print(sortedTeams)

Rockets
[('Warriors', (25, 5)), ('Rockets', (24, 6)), ('Dragons', (22, 8)), ('Cardinals', (20, 10)), ('Chargers', (20, 10)), ('Royals', (18, 12)), ('Jets', (16, 14)), ('Kings', (15, 15))]

In [11]:
# OrderDict -- remember the order in which item is inserting, regular dict doesn't keep the order among the items.
# list of sport teams with wins and losses
from collections import OrderedDict
sportTeams = [("Royals",(18,12)),("Rockets",(24,6)),("Cardinals",(20,10)),("Dragons",(22,8)),("Kings",(15,15)),("Chargers",(20,10)),("Jets",(16,14)),("Warriors",(25,5))]
#print(sportTeams[1][0])
#test = ("Rockets",(24,6))
#print(test[1][0])
# sort the teams by number of wins
sortedTeams = sorted(sportTeams,key = lambda t:t[1][0], reverse = True)
#print(sortedTeams)
# TODO : create an ordered dictionary of the teams
teams = OrderedDict(sortedTeams)
print(teams)


# TODO : Use popitem to remove the top item
tm, wl = teams.popitem(False)
print(tm,wl)
#TODO : what are next the top 4 teams?
for i, team in enumerate(teams, start=1):
  print(i, team)
  if i==4:
    break

# TODO : test for equality

a = OrderedDict({"a":1, "b":2,"c":3})
b = OrderedDict({"a":1, "b":2,"c":3})
print("equality test", a==b)

OrderedDict([('Warriors', (25, 5)), ('Rockets', (24, 6)), ('Dragons', (22, 8)), ('Cardinals', (20, 10)), ('Chargers', (20, 10)), ('Royals', (18, 12)), ('Jets', (16, 14)), ('Kings', (15, 15))])
Warriors (25, 5)
1 Rockets
2 Dragons
3 Cardinals
4 Chargers
equality test True

# **Deque**


* Double-ended queue, pronounced "deck"

* d = collections.deque('iterable object')

* to add use , "appendleft()" or "append()"

* to remove , "popleft()"  or "pop()"

* rotate() to rotate deck:)

In [18]:
# Deque

import collections
import string

# TODO : initialize a deque with lowercase letters
d = collections.deque(string.ascii_lowercase)



# TODO : deques support the len() function
print(len(d))

# TODO : deques can be iterated over
#for elem in d:
  #print(elem.upper(),end = ",")


# TODO : manipulate items from either end
d.pop()
d.popleft()
d.append(2)
d.appendleft(1)
print(d)
# TODO : rotate the deque
d.rotate(10)
print(d)

26
deque([1, 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 2])
deque(['q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 2, 1, 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p'])