<a href="https://colab.research.google.com/github/vishu0047/Advancepython/blob/master/Built_In_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Built-in function list url:
[functions](https://docs.python.org/3/library/functions.html)

In [6]:
def main():
  # use any() and all() to test sequences for boolean values
  list1 = [1,2,3,0,5,6]

  # TODO: any will return true if any of the sequence values are true
  print(any(list1))
  # TODO : all will return true only if all values are true
  print(all(list1))
 # min and max return minimum and maximum values
  print("min: ",min(list1))
  # sum() to sum all element
  print(sum(list1))   

if __name__ == "__main__":
  main()

True
False
min:  0
17

For iteration:

* use iterator functions like enumerate, zip, iter, next

In [15]:
def main():
  # define a list of days in English and French
  days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
  daysFr = ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven","Sam"]
  # TODO : use iter to create an iterator over a collection
  i = iter(days)
  #print(next(i))
  #print(next(i))

  # TODO: use regular interation over the days
  #for m in days:
    #print(m)
  #for m in range(len(days)): # looping code hard to read
    #print(m+1, days[m])

  # TODO: above we can do using enumerate reduced code and provides a counter
  #for i,m in enumerate(days, start=1):
  #  print(i,m)

  # TODO : use zip to combine sequences
  #for m in zip(days, daysFr):
  #  print(m)

  for i,m in enumerate(zip(days, daysFr),start=1):
    print(i,m[0],"=",m[1],"in French")

  # zip end on shortest one






if __name__== "__main__":
  main()

1 Sun = Dim in French
2 Mon = Lun in French
3 Tue = Mar in French
4 Wed = Mer in French
5 Thu = Jeu in French
6 Fri = Ven in French
7 Sat = Sam in French

Transform function are sorted, filter, map

filter will create ierator , and to the task given

> Indented block

In [19]:
nums = (1,2,5,6,7,9)
odds = list(filter( lambda x: True if (x%2==0) else False, nums))
print(odds)

[2, 6]

In [20]:
new = list(map(lambda x : x*x,nums))
print(new)

[1, 4, 25, 36, 49, 81]

In [0]:
grades = sorted(nums)

In [22]:
print(grades)

[1, 2, 5, 6, 7, 9]

***Itertools***

Is not built in function, but part of stabdard library

In [26]:
import itertools

#cycle : cycle over a collection

seq = ["joe","john","Mike"]
cycle1 = itertools.cycle(seq)
print(next(cycle1))
print(next(cycle1))
print(next(cycle1))
print(next(cycle1))

joe
john
Mike
joe

In [27]:
# count :  to creae a simple counter

count1 = itertools.count(100,10)
print(next(count1))
print(next(count1))
print(next(count1))

100
110
120

In [31]:
#accumulate : crate an iterator that accumulates values
vals = [10,20,30,40,50,40,30]

acc = itertools.accumulate(vals, max)
print(list(acc))

[10, 20, 30, 40, 50, 50, 50]

In [34]:
# itertools have two filter functions dropwhile and takewhile

print(list(itertools.dropwhile(lambda x: x<40, vals)))

[40, 50, 40, 30]